if SHIELD_MBKB_LEFT

config ZMK_KEYBOARD_NAME
    default "MBKB"
    
config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_MBKB_LEFT || SHIELD_MBKB_RIGHT

config ZMK_SPLIT
    default y

endif
