if SHIELD_MBKB_DONGLE

config ZMK_KEYBOARD_NAME
    default "MBKB"
    
config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_USB
    default y

endif

if SHIELD_MBKB_LEFT || SHIELD_MBKB_RIGHT || SHIELD_MBKB_DONGLE

config ZMK_SPLIT
    default y

config ZMK_BLE
    default y

endif