// ------------------------------------------------------------------- //
//                                                                     // 
//   ▄▀▀▀▄         ▄▀▀▀▄   ▄▀▀▀▄         ▄▀▀▀▄   ▄▀▀▀▄         ▄▀▀▀▄   //
//   █    ▀▀▀▀▀▀▀▀▀    █   █    ▀▀▀▀▀▀▀▀▀    █   █    ▀▀▀▀▀▀▀▀▀    █   //
//     ▄▄▄         ▄▄▄      ▄███▄       ▄███▄                          //
//    █  ▀█ ▄▄▄▄▄ █▀  █     █ ▀ █ ▄▄▄▄▄ █ ▀ █     █   █ ▄▄▄▄▄ █   █    //
//     ▀▀▀   ▀█▀   ▀▀▀       ▀▀▀   ▀█▀   ▀▀▀       ▀▀▀   ▀█▀   ▀▀▀     //
//          ▀▄█▄▀                 ▄▄█▄▄                  ▄█▄           //
//                                                                     //
// ------------------------------------------------------------------- //

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define BASE 0
#define NUM  1
#define SYM  2
#define ADJ  3

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

/ {

    keymap {
        compatible = "zmk,keymap";
        base_layer {
            label= "BASE";
            //             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
            //             ┃     Q     ┃     W     ┃     E     ┃     R     ┃     T     ┃   ┃     Z     ┃     U     ┃     I     ┃     O     ┃     P     ┃
            // ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
            // ┃    ESC    ┃     A     ┃     S     ┃     D     ┃     F     ┃     G     ┃   ┃     H     ┃     J     ┃     K     ┃     L     ┃     Ö     ┃   BSPC    ┃ 
            // ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
            // ┃    TAB    ┃     Y     ┃     X     ┃     C     ┃     V     ┃     B     ┃   ┃     N     ┃     M     ┃     ,     ┃     .     ┃     -     ┃   ENTER   ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                     ┃   SUPER   ┃    NUM    ┃    SPC    ┃   ┃    SPC    ┃    SYM    ┃    DEL    ┃
            //                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            bindings = <
                &kp Q     &kp W    &kp E       &kp R        &kp T         &kp Z    &kp U    &kp I         &kp O        &kp P
                &kp ESC   &kp A    &mt LALT S  &mt LCTRL D  &mt LSHIFT F  &kp G    &kp H    &mt RSHIFT J  &mt RCTRL K  &mt RALT L  &kp RA(O)  &kp BSPC
                &kp TAB   &kp Y    &kp X       &kp C        &kp V         &kp B    &kp N    &kp M         &kp COMMA    &kp DOT     &kp MINUS  &kp ENTER
                &kp LGUI  &mo NUM  &kp SPC     &kp SPC      &mo SYM       &kp DEL
            >;
        };

        num_layer {
            label= "NUM";
            //             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
            //             ┃     ´     ┃     `     ┃     <     ┃     >     ┃     {     ┃   ┃     }     ┃     7     ┃     8     ┃     9     ┃     +     ┃
            // ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
            // ┃    ESC    ┃           ┃    ALT    ┃   CTRL    ┃   SHIFT   ┃     [     ┃   ┃     ]     ┃     4     ┃     5     ┃     6     ┃     *     ┃   BSPC    ┃
            // ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
            // ┃    TAB    ┃           ┃           ┃     /     ┃     \     ┃     (     ┃   ┃     )     ┃     1     ┃     2     ┃     3     ┃     -     ┃   ENTER   ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                     ┃   SUPER   ┃███████████┃    SPC    ┃   ┃    SPC    ┃    ADJ    ┃     0     ┃
            //                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            bindings = <
                &trans     &trans     &kp LT   &kp GT    &kp LBRC       &kp RBRC  &kp KP_N7  &kp KP_N8  &kp KP_N9  &kp KP_PLUS
                &trans     &trans     &kp LALT &kp LCTRL &kp LSHIFT     &kp LBKT  &kp RBKT   &kp KP_N4  &kp KP_N5  &kp KP_N6  &kp KP_MULTIPLY &trans
                &trans     &trans     &trans   &kp SLASH &kp BACKSLASH  &kp LPAR  &kp RPAR   &kp KP_N1  &kp KP_N2  &kp KP_N3  &kp KP_MINUS &trans      
                &trans     &trans     &trans   &trans    &mo ADJ        &kp KP_N0 
            >;
        };

        sym_layer {
            label= "SYM";
            //             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
            //             ┃     !     ┃     "     ┃     '     ┃     $     ┃     %     ┃   ┃     &     ┃     #     ┃     =     ┃     ?     ┃     Ü     ┃
            // ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
            // ┃    ESC    ┃     @     ┃     €     ┃     |     ┃     ^     ┃     °     ┃   ┃   PREV    ┃   PAUSE   ┃   NEXT    ┃     ~     ┃     Ä     ┃   BSPC    ┃
            // ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
            // ┃    TAB    ┃  EMAIL1   ┃  EMAIL2   ┃           ┃           ┃           ┃   ┃   VOL-    ┃   MUTE    ┃   VOL+    ┃     µ     ┃     ß     ┃   ENTER   ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                     ┃    GIF    ┃    ADJ    ┃    SPC    ┃   ┃    SPC    ┃███████████┃    DEL    ┃
            //                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            bindings = <
                &kp EXCL    &kp DQT     &kp SQT      &kp DLLR  &kp PRCNT  &kp AMPS       &kp HASH      &kp KP_EQUAL  &kp QMARK     &kp RA(U)       
                &trans      &kp AT      &trans       &kp PIPE  &kp CARET  &trans         &kp C_PREV    &kp C_PP      &kp C_NEXT    &kp TILDE   &kp RA(A)  &trans
                &trans      &kp RA(F18) &kp RA(F19)  &trans    &trans     &trans         &kp C_VOL_DN  &kp C_MUTE    &kp C_VOL_UP  &trans      &trans     &trans         
                &kp LG(DOT) &mo ADJ     &trans       &trans    &trans     &trans
            >;
        };

        adjust_layer {
            label= "ADJ";
            //             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
            //             ┃           ┃           ┃           ┃           ┃           ┃   ┃           ┃    F7     ┃    F8     ┃    F9     ┃    F12    ┃
            // ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
            // ┃   RESET   ┃           ┃    ALT    ┃    CTRL   ┃   SHIFT   ┃           ┃   ┃           ┃    F4     ┃    F5     ┃    F6     ┃    F11    ┃
            // ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
            // ┃  BOOTLOAD ┃  OUT TOG  ┃  BT PREV  ┃  BT CLEAR ┃  BT NEXT  ┃           ┃   ┃           ┃    F1     ┃    F2     ┃    F3     ┃    F10    ┃           ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                     ┃           ┃███████████┃           ┃   ┃           ┃███████████┃           ┃
            //                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            bindings = <
                &trans      &trans        &trans      &trans      &trans      &trans  &kp F7  &kp F8  &kp F9  &kp F12
                &sys_reset  &trans        &kp LALT    &kp LCTRL   &kp LSHIFT  &trans  &trans  &kp F4  &kp F5  &kp F6  &kp F11  &trans
                &bootloader &out OUT_TOG  &bt BT_PRV  &bt BT_CLR  &bt BT_NXT  &trans  &trans  &kp F1  &kp F2  &kp F3  &kp F10  &trans         
                &trans      &trans        &trans      &trans      &trans      &trans      
            >;
        };
    };
};